html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Indie Flower', cursive;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.landing-page-container {
    width: 100%;
    height: 2000px;
}

.nav-bar-container {
    align-items: center;
}
.nav-bar-logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin:0 auto;
    background-color: #d32323;
    height: 70px;
    margin: 0 auto;
    align-items: center;
}
.nav-bar-logged-in img {
    height: 60px;
    width: 100px;
}
.nav-bar-logged-out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin:0 auto;
    background-color: #d32323;
    height: 70px;
    margin: 0 auto;
    align-items: center;
}
.nav-bar-logged-out img {
    height: 60px;
    width: 100px;
}
/* .nav-bar-logged-out {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    right: 20px;
    top: 20px;
} */
.nav-bar-logged-out button {
    border-radius: 5px 5px 5px 5px;
    margin-right: 8px;
}

.nav-bar-main-logged-out {
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-bar-main-logged-in {
    position: absolute;
    right: 20px;
    top: 20px;
    display:flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.nav-bar-main-logged-in button {
    margin-right: 10px;

    background: transparent;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-bar-main-logged-in a {
    margin-right: 20px;
    padding: 10px;
    background: transparent;
    border:none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 100px;
    color: white;
    text-decoration: none;
}


.nav-bar-main-logged-in button:hover {
    background: white;
    color:black
}


.nav-bar-main-logged-out button {

    margin-right: 10px;
    padding: 10px;
    background: transparent;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer
}
.navbutton {
    height: 25px;
    width: 80px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;

    background: transparent;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 100px;
    
    border-radius: 5px;
}

#signup {
    height: 40px;
    width: 100px;
    border: 2px solid white;
    border-radius: 5px;
}

#signup:hover {
    background: white;
    color:black
}

#login {
    height: 40px;
    width: 70px;
}

#login:hover {
    border-bottom: 2px solid white;
}

.nav-bar-items {
    display: flex;
    justify-content: center;
}
.nav-bar-items a {
    color: black;
    padding: 6px;
}

.landing-page-logo-container {
    min-height: 700px;
    display:flex;
    flex-direction: column;
    background-image: url('./dog-poker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%
}

.landing-page-logo-items {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}
.landing-page-logo-items img {
    height: 100px;
    width: 180px;
    display: flex;
    justify-content: center;
}

.landing-page-logo {
    /* background:  */
}



