
.dog-show-slideshow-container {
	position: relative;
    margin: 0 auto;
    width: 100%;
    background: #fff;
	height: 380px;
	overflow: hidden;
	margin-bottom: 15px;
	
}
/* 
.slick-list {
	height: 100%;
}


.slick-prev {
    visibility: hidden;
  	display: block;

	font-size: 30px;
	line-height: 1.5;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:white;
	border: none;
	position: absolute;
	left: 10px;
	padding: 0;
	z-index: 15
}

.slick-next {
  	visibility: hidden;
	display: block;

	font-size: 30px;
	line-height: 1.5;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:white;
	border: none;
	position: absolute;
	right: -15px;
	padding: 0;
	z-index:15
 
}


.slick-arrow.slick-prev:after {
	content: '❮'; 
	visibility: visible;
	display: block;

	font-size: 30px;
	line-height: 1.5;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:white;
	border: none;
	position: absolute;
	left: 25px;
	padding: 0;
	z-index:15

}

.slick-arrow.slick-next:after {
	content:'❯'; 
	visibility: visible;
	display: block;

	font-size: 30px;
	line-height: 1.5;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:white;
	border: none;
	position: absolute;
	right: 0px;
	padding: 0;
	z-index:15
}


.slick-slide {
	margin-right: 15px;
	float: left;
    height: 100%;
} */


.dog-show-container {
    display: flex;
    flex-direction: column;
   	position: relative;
	overflow: hidden;
}

.dog-show-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.dog-show-details-stats {
    padding: 20px;
    margin-left: 40px;
}

.dog-show-details-image img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

.dog-show-edit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dog-show-edit-links {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dog-show-post-compose-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dog-show-post-form {
    display: flex;
    justify-content: center;
}

.dog-show-post-index {
    display: flex;
    justify-content: center;
}
.dog-show-post-index-items {
    padding: 20px;
}
